<!DOCTYPE html>
<html ng-app="MTP">
<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<link rel="stylesheet"
	href="bower_components/angular-chart.js/dist/angular-chart.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="src/main.js"></script>
<style type="text/css">
.table>tbody>tr>td{
	text-align:right;
}
.table>tbody>tr>td.text,
.table tr>th{
	text-align: center;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4>Originating Country</h4>
			</div>
		</div>
		<div class="row" ng-controller="CountryController as country">
			<div class="col-xs-6">
				<canvas class="chart chart-doughnut" data="country.values"
					labels="country.countries" legend="true"></canvas>
			</div>
			<div class="col-xs-6">
				<table class="table table-striped table-condensed table-bordered">
					<tr>
						<th>Country</th>
						<th># Transactions</th>
					</tr>
					<tr ng-repeat="entry in country.data | orderBy:'1':true">
						<td class="text">{{entry[0]}}</td>
						<td class="text">{{entry[1]}}</td>
					</tr>
				</table>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12">
				<h4>Currency sold/bought</h4>
			</div>
		</div>
		<div class="row" ng-controller="SoldBoughtController as soldBought">
			<div class="col-xs-6">
				<table class="table table-striped table-condensed table-bordered">
					<tr>
						<th>Currency</th>
						<th>Sold</th>
						<th>Bought</th>
					</tr>
					<tr ng-repeat="row in soldBought.table">
						<td class="text">{{row[0]}}</td>
						<td>{{row[1]|number:4}}</td>
						<td>{{row[2]|number:4}}</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6">
				<canvas class="chart chart-radar" labels="soldBought.labels"
					data="soldBought.data" legend="true" series="soldBought.series"></canvas>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12">
				<h4>Conversion rates</h4>
			</div>
		</div>
		<div class="row" ng-controller="RateController as rate">
			<div class="col-xs-12">
				<table class="table table-condensed table-bordered table-striped">
					<tr>
						<th>Conversion</th>
						<th>Min</th>
						<th>Max</th>
						<th>Average</th>
						<th># Transactions</th>
					</tr>
					<tr ng-repeat="(conversion, stats) in rate.data">
						<td class="text">{{conversion}}</td>
						<td>{{stats.min|number:4}}</td>
						<td>{{stats.max|number:4}}</td>
						<td>{{stats.average|number:4}}</td>
						<td class="text">{{stats.count}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div ng-controller="RateGraphController as rate">
			<div class="row">
				<div class="col-xs-12">
					<select class="form-control" ng-model="rate.groupLevel" ng-options="item.value as item.label for item in rate.groupOptions"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<canvas class="chart chart-line" data="rate.data" labels="rate.labels" legend="true" series="rate.series" ></canvas>
				</div>
			</div>
		</div>
	</div>
</body>
</html>